{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Publish tag" %}{% endblock %}

{% block content %}
<div class="layout__article">
  <div style="display: flex; align-items:center">
    <i class="fa fa-chevron-left" style="margin-right: 0.5%;"></i>
    <a href="/forum/comment/tag/index/"> Back </a>
  </div>
  <h1 class="headline">{% trans "Publishing tag" %}</h1>

  <form action="{% url "spirit:comment:publish_tag" %}" method="post" class="js-reply">
    {% csrf_token %}
    <div class="topic_publish_comment">
      {% include "spirit/_form.html" with form=form %}
      {% include "spirit/comment/_editor_preview.html" %}
    </div>
    <div class="comment__reply__actions">
      {% include "spirit/comment/_editor.html" %}
      <input
        class="button comment__reply__actions__publish"
        type="submit"
        value="{% trans "Publish" %}" />
    </div>
  </form>
</div>
{% endblock %}