{% extends "spirit/_base.html" %}

{% load spirit_tags i18n %}

{% block title %}{{ tag.name }}{% endblock %}

{% block content %}
{% spaceless %}
<ul class="breadcrumb_nav mb-0">
  <li><a href="{% url 'spirit:index' %}"
  >{% trans "Main" %}</a><i class="fa fa-chevron-right"></i></li>
  <li>
  {{ tag.name }}</li>
</ul>
{% endspaceless %}
  <div class="layout__article border">
  

    <h5 class="headline bg-ofx-blue text-white p-2">

      {{ tag.name }}

    </h5>
    <!--
    <div class="admin__category_menu">
      <div class="admin__category_menu__new_category">
          <a
            id="download_report"
            class="button"
            href="{{ report_url }}"
          >{% trans "Download Report" %}</a>
      </div>
    </div>
    -->

    {% if comments %}
      {% include "spirit/comment/_render_list.html" %}
      
    <div class="pagination">
      <span class="step-links">
          {% if comments.has_previous %}
              <a href="?page=1" id="first">&laquo; first</a>
              <a href="?page={{ comments.previous_page_number }}" id="prev">previous</a>
          {% endif %}

          <span class="current">
              Page {{ comments.number }} of {{ comments.paginator.num_pages }}.
          </span>

          {% if comments.has_next %}
              <a href="?page={{ comments.next_page_number }}" id="next">next</a>
              <a href="?page={{ comments.paginator.num_pages }}" id="last">last &raquo;</a>
          {% endif %}
      </span>
    </div>
    {% else %}
      <p>{% trans "There are no comments under this tag." %}</p>
    {% endif %}

  </div>
{% endblock %}

{% block extra_body %}
<script>
  console.log("OK")
  $(document).ready(function () {
    console.log("OK")
    $("#create_report").on(click, function (e) {
      console.log("OK")
      $.ajax({
       url: "{% url 'spirit:comment:tag_report' tag.name %}",
       data: {
       },
       type: "GET",
       contentType: false,
       processData: false,
       dataType: "json",
       cache: false,
       success: function(data){
        $("#download_report").click();
        console.log('"{{ tag.report_file.url }}"')
       }
      })
    });
  })
</script>
{% endblock %}