{% extends "spirit/_base.html" %}

{% load spirit_tags i18n %}

{% block title %}{% trans "Tag List" %}{% endblock %}

{% block content %}
<a href="/forum/st/admin/">  <i class="fa fa-chevron-left"></i> Back </a>
  <div class="layout__admin border">
    <div  class="bg-ofx-blue d-flex text-white p-2 py-1 text-center align-items-center">
      <h6 >{% trans "Tag List" %}</h6>
      <div class="d-flex ms-auto admin__category_menu m-0 px-2">
        <div class="admin__category_menu__new_category m-0">
          <a
            class="btn btn-secondary text-white"
            href="{% url 'spirit:comment:create' %}"
          >{% trans "Create Tag" %}</a>
        </div>
      </div>
      
    </div>
  
    <div class="admin__items_list mt-3">
      {% for t in tags %}
        <div class="admin__items_list__item">
          <div class="admin__items_list__item__title">
            {{ t.name }}
          </div>
          <div class="admin__items_list__item__action">
            <a
              class="js-clickable-area-target"
              href="{% url 'spirit:comment:tag_delete' t.name %}"
            ><i class="fa fa-cog"></i> {% trans "Delete" %}</a>
          </div>
        </div>
        {% empty %}
        <p class=" mt-3">{% trans "There are no Tags here, yet" %}</p>
      {% endfor %}
    
    </div>
  </div>
{% endblock %}
