{% extends 'spirit/_base.html' %}

{% load spirit_tags i18n %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block content %}
<div class="layout__article mb-2">
  
  <a href="/forum/"><i class="fa fa-chevron-left" ></i> Back </a>
  <div class="d-flex flex-column w-100 mt-0 py-0 border mb-5 ">
  
  <div class="d-flex bg-ofx-blue  ms-0  mb-4 align-items-center justify-content-center">
     <h6 class=" ms-2 text-white text-center mt-1">{% trans "Search Results" %}</h6>


      <form action="{% url 'spirit:search:date' %}" method="post" class="d-flex ms-auto align-items-center">
        {% csrf_token %}
        <input type="date" name="start" class="form-control me-2" />
        <input type="date" name="end"  class="form-control me-2"/>
        <input class="btn btn-secondary my-1 px-2 me-3 py-1 text-white" type="submit" value="{% trans 'Search' %}"  />
      </form>
    </div>

    <div>
  
        {% include "spirit/comment/_render_list.html" %}
     
  </div>
</div>
</div>
{% endblock %}
