{% extends 'spirit/_base.html' %}

{% load spirit_tags i18n %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block content %}
<div style="display: flex; align-items:center">
  <i class="fa fa-chevron-left" style="margin-right: 3%;"></i>
  <a href="/forum/"> Back </a>
</div>
  <div class="layout__article">
      <h1 class="headline">{% trans "Results" %}</h1>

      <form action="{% url "spirit:search:date" %}" method="post" style=" display: flex; margin-bottom: 2%;">
        {% csrf_token %}
        <input type="date" name="start" style="background-color: white; border-color: gray; border-style:solid;"/>
        <input type="date" name="end"  style="background-color: white; border-color: gray; border-style:solid;"/>
        <input class="button" type="submit" name="post" value="{% trans "Filter" %}" style="margin-left: 2%;"/>
      </form>


      {% if comment.empty %}
        <p>{% trans "There are no search results." %}</p>
      {% render_paginator page %}
      {% else %}
        {% include "spirit/comment/_render_list.html" %}
      {% endif %}


    <div class="pagination">
      <span class="step-links">
          {% if comments.has_previous %}
              <a href="?min={{ request.GET.min }}&max={{ request.GET.max }}&page=1" id="first">&laquo; first</a>
              <a href="?min={{ request.GET.min }}&max={{ request.GET.max }}&page={{ comments.previous_page_number }}" id="prev">previous</a>
          {% endif %}

          <span class="current">
              Page {{ comments.number }} of {{ comments.paginator.num_pages }}.
          </span>

          {% if comments.has_next %}
              <a href="?min={{ request.GET.min }}&max={{ request.GET.max }}&page={{ comments.next_page_number }}" id="next">next</a>
              <a href="?min={{ request.GET.min }}&max={{ request.GET.max }}&page={{ comments.paginator.num_pages }}" id="last">last &raquo;</a>
          {% endif %}
      </span>
    </div>
  </div>
{% endblock %}