{% extends 'spirit/_base.html' %}

{% load spirit_tags i18n %}


{% block title %}{% trans "Search" %}{% endblock %}

{% block content %}
<div style="display: flex; align-items:center">
  <i class="fa fa-chevron-left" style="margin-right: 3%;"></i>
  <a href="/forum/"> Back </a>
</div>
  <div class="layout__article">
      <h1 class="headline">{% trans "Search" %}</h1>
      <form method="get" action="{% url "spirit:search:search" %}" style="display: flex; align-items: center; margin-bottom: 2%;">
        {% include "spirit/_form_search_result.html" %}
        <input class="button" type="submit" value="{% trans "Search" %}" style="margin-left: 1%;" />
      </form>
      <h1 class="headline">{% trans "Results" %}</h1>
      {% if page %}
        {% include "spirit/search/_render_list.html" with topics=page %}
        {% render_paginator page %}
      {% else %}
        <p>{% trans "There are no search results." %}</p>
      {% endif %}
      
      <div class="pagination">
        <span class="step-links">
            {% if paginator.has_previous %}
                <a href="?min={{ request.GET.q }}&page=1" id="first">&laquo; first</a>
                <a href="?min={{ request.GET.q }}&page={{ paginator.previous_page_number }}" id="prev">previous</a>
            {% endif %}
  
            <span class="current">
                Page {{ paginator.number }} of {{ paginator.paginator.num_pages}}.

            </span>
  
            {% if paginator.has_next %}
                <a href="?min={{ request.GET.q }}&page={{ paginator.next_page_number }}" id="next">next</a>
                <a href="?min={{ request.GET.q }}&page={{ paginator.paginator.num_pages }}" id="last">last &raquo;</a>
            {% endif %}
        </span>
      </div>
  </div>
{% endblock %}
