{% extends 'spirit/_base.html' %}

{% load spirit_tags i18n %}


{% block title %}{% trans "Search" %}{% endblock %}

{% block content %}

  <div class="layout__article mb-5">
    <a href="/forum/"><i class="fa fa-chevron-left" ></i> Back </a>
    <div class="d-flex flex-column w-100 mt-0 py-0 border mb-3">    
    <div class="d-flex bg-ofx-blue  ms-0  mb-2 align-items-center justify-content-center">
       <h6 class=" ms-2 text-white text-center">{% trans "Search Results" %}</h6>
  
       <form method="get" action="{% url 'spirit:search:search' %}" class="d-flex ms-auto align-items-center">
        {% include "spirit/_form_search_result.html" %}
        <input class="btn btn-secondary my-1 px-2 mx-3 py-1 text-white" type="submit" value="{% trans 'Search' %}"  />
      </form>
  </div>

     <div>
      {% if page %}
        {% include "spirit/search/_render_list.html" with topics=page %}
        {% render_paginator page %}
      {% else %}
        <p>{% trans "There are no search results." %}</p>
      {% endif %}
      
      <div class="pagination">
        <span class="step-links">
            {% if paginator.has_previous %}
                <a href="?min={{ request.GET.q }}&page=1" id="first">&laquo; first</a>
                <a href="?min={{ request.GET.q }}&page={{ paginator.previous_page_number }}" id="prev">previous</a>
            {% endif %}
  
            <span class="current">
                Page {{ paginator.number }} of {{ paginator.paginator.num_pages}}.

            </span>
  
            {% if paginator.has_next %}
                <a href="?min={{ request.GET.q }}&page={{ paginator.next_page_number }}" id="next">next</a>
                <a href="?min={{ request.GET.q }}&page={{ paginator.paginator.num_pages }}" id="last">last &raquo;</a>
            {% endif %}
        </span>
      </div>
  </div>
</div></div>
{% endblock %}
