{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Closed flags" %}{% endblock %}

{% block content %}
<div style="display: flex; align-items:center">
    <a href="/forum/comment/tag/index/">  <i class="fa fa-chevron-left"></i>
      Back </a>
  </div>
<div class="layout__admin border">
    <div class="mt-0">
   

    <h6 class="headline p-2 bg-ofx-blue text-white m-0 ">{% trans "Closed flags" %}</h1>
        {% include "spirit/admin/_nav_menu.html" with active="flags" %}
    </div>

    {% include "spirit/comment/flag/admin/_list.html" with active_tab="closed" %}
</div>
{% endblock %}
