{% extends "spirit/_base.html" %}

{% load spirit_tags i18n %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content %}
  <div class="layout__article mb-5 border border-2">
    {% spaceless %}
      <ul class="breadcrumb_nav bg-ofx-blue  p-2 mx-0 w-100">
        <li ><a href="{% url 'spirit:index' %}" class="text-white"
        >{% trans "Main" %}<i class="fa fa-chevron-right"></i></a></li>
        {% if topic.category.parent_id %}
          <li><a href="{{ topic.category.parent.get_absolute_url }}" class="text-white"
          >{{ topic.category.parent.title }} <i class="fa fa-chevron-right"></i></a
          ></li>
        {% endif %}
        <li><a href="{{ topic.category.get_absolute_url }}" class="text-white"
        >{{ topic.category.title }} <i class="fa fa-chevron-right"></i></a></li>
      </ul>
    {% endspaceless %}
<div class="px-2">
    <h1 class="headline">
      {% if topic.is_removed %}
        <i class="fa fa-trash-o"></i>
      {% endif %}
      {% if topic.is_pinned or topic.is_globally_pinned %}
        <i class="fa fa-thumb-tack"></i>
      {% endif %}
      {% if topic.is_closed %}
        <i class="fa fa-lock"></i>
      {% endif %}

      {{ topic.title }}
    </h1>
    {% if user.st.is_moderator %}
    <div class="layout__menu"> 
      <div class="menu__dropdown js-tabs-container ms-2" style="height:30px">
        <div class="menu__dropdown_button" >
          <a class="dropdown_button js-tab" href="#" data-related=".js-mod-content"
          >{% trans "Moderate" %} <i class="fa fa-chevron-down"></i></a>
        </div>
        <div class="menu_list_wrapper js-tab-content js-mod-content border position-absolute mt-4 shadow bg-light" style="display: none;">
          {% spaceless %}
          <ul class="menu_list">
       
            {% if topic.is_closed %}
              <li><a class="menu_list__link js-post nav-link-custom" href="{% url "spirit:topic:moderate:unlock" topic.pk %}"
              ><i class="fa fa-unlock"></i> {% trans "Open Target" %}</a></li>
            {% else %}
              <li><a class="menu_list__link js-post nav-link-custom" href="{% url "spirit:topic:moderate:lock" topic.pk %}"
              ><i class="fa fa-lock"></i> {% trans "Close Target" %}</a></li>
            {% endif %}
            {% if topic.is_pinned %}
              <li><a class="menu_list__link js-post nav-link-custom" href="{% url "spirit:topic:moderate:unpin" topic.pk %}"
              ><i class="fa fa-thumb-tack"></i> {% trans "Unpin Target" %}</a></li>
            {% else %}
              <li><a class="menu_list__link js-post nav-link-custom" href="{% url "spirit:topic:moderate:pin" topic.pk %}"
              ><i class="fa fa-thumb-tack"></i> {% trans "Pin Target" %}</a></li>
            {% endif %}
          </ul>
          {% endspaceless %}
        </div>
      </div>
    </div>
    {% endif %}

    {% include "spirit/comment/_render_list.html" %}

    <div class="comments__footer_menu ms-2">
      <div class="comments__footer_menu__paginator">
        {% render_paginator page=comments %}
      </div>
      <div class="comments__footer_menu__notify me-2">
        {% if user.is_authenticated %}
          {% render_notification_form user=user topic=topic %}
        {% elif not topic.is_closed %}
          <a
            class="button"
            href="{% url "spirit:comment:publish" topic_id=topic.pk %}"
          >{% trans "Reply" %}</a>
        {% endif %}
      </div>
    </div>

    {% if user.st.is_moderator %}
      <div class="comments__move js-move-comments-form" style="display:none;">
        <div class="field">
          <label for="id_move_comments_topic">{% trans "Move selected comments to" %}:</label>
          <input id="id_move_comments_topic" name="topic" type="text" value="" placeholder="Topic ID" />
        </div>
        <input
          class="button js-move-comments-button"
          type="submit"
          value="{% trans "Move" %}">
      </div>
    {% endif %}

    {% if user.is_authenticated %}
      {% if not topic.is_closed %}
        <div id="reply" class="comments__reply">
          <div class="comments__reply__img">
            {% include "spirit/comment/_avatar.html" with u=user only %}
          </div>
          <div class="comment__reply__info">
            <a
              class="comment__reply__info__link"
              href="{{ user.st.get_absolute_url }}"
            >{{ user.st.user.first_name}} {{ user.st.user.last_name}}</a>
            <div class="comment__reply__info__realname">
              {{ user.get_full_name }}
            </div>
          </div>
          <div class="comment__reply__text">
            {% render_comments_form topic=topic %}
          </div>
        </div>
      {% endif %}
      </div>
      <script>
        document.addEventListener('DOMContentLoaded', function() {

          stModules.bookmark(document.querySelectorAll('.js-comment'), {
            csrfToken: "{{ csrf_token }}",
            target: "{% url "spirit:comment:bookmark:create" topic.pk %}"
          });

          {% if user.st.is_moderator %}
            stModules.moveComments(document.querySelectorAll('.js-show-move-comments'), {
              csrfToken: "{{ csrf_token }}",
              target: "{% url "spirit:comment:move" topic.pk %}"
            } );
          {% endif %}

        });
      </script>
    {% endif %}

  </div>
{% endblock %}
